body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input {
  width: 360px;
  height: 40px;
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 10px;
  border: 1px solid #2e2f42;
  border-radius: 3px;
}
